

/* mission-vision-values */
.dark-mode #mission-vision-values {
    background: var(--dark-bg);
}
.dark-mode #mission-vision-values .group {
    background: var(--dark-bg);
    border: 1px solid gray;
}
.dark-mode #mission-vision-values .group h3 {
    color: var(--dark-top-heading);
}
.dark-mode #mission-vision-values h2 {
    color: var(--dark-top-heading);
}

/* mission-vision-values */

