nav{
  z-index: 1111111111111;
}
/* Animated underline on hover */

.nav-links {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    transition: all var(--transition-normal);
    position: relative;
    padding: 0.5rem 0;
}

.nav-links::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--color-primary);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform var(--transition-normal);
}

.nav-links:hover {
    color: var(--color-primary);
}

.nav-links:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}


/* Optional: Style for active page link */
.nav-links.active {
  color: var(--color-primary); /* Tailwind's green-500 */
}


.animated-button {
    position: relative;
    padding: 8px 30px;
    border: 2px solid black;
    border-radius: 70px;
    background: white;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
}
.animated-button span{
    transition: .8s;
    position: relative;
    z-index: 2;
    font-size: 20px ;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.animated-button:hover span{
    color: white;
}
.animated-button::before,
.animated-button::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: black;
    transition:  0.3s ease-in-out;
    z-index: 0;
}

.animated-button::before {
    top: -100px;
    left: -100px;
}
.animated-button::after {
    bottom: -100px;
    right: -100px;
}
.animated-button:hover::before{
  top:-30px;
    left: -6px;
}
.animated-button:hover::after {
    bottom: -30px;
    right: -6px;
}

