@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --color-primary: #22C55E;
    --color-secondary:  #3fac3b;
    --color-tertiary: black;
--intro-bg:rgb(255, 255, 255);
--color-primary-dark: #059669;
--color-bg: #f9fafb;
--text-color:white;
    --transition-normal: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    --color-text: #1f2937;
    --color-text-light: #6b7280;
}
html {
    scroll-behavior: smooth;
  }
  