@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --color-primary: #22C55E;
    --color-secondary:  #3fac3b;
    --color-tertiary: black;
--intro-bg:rgba(3, 100, 3, 0.683);
}
html {
    scroll-behavior: smooth;
  }
  